#
#
#

# CONFIG
#===================================================
*.env
!example.env

#===================================================
# PHP
#===================================================
php_errors.log
.php-version

# APPLE OS
#===================================================
*.DS_Store
.DS_Store
.AppleDouble
.LSOverride
._*

# MICROSOFT WINDOWS
#===================================================
Thumbs.db
ehthumbs.db
Desktop.ini
*.cab
*.msi
*.msm
*.msp
*.lnk

# LINUX
#===================================================
*~
.directory
.Trash-*

# PHP UNIT
#===================================================
phpunit
/.phpunit.cache
/phpunit.xml
.phpunit.result.cache

# COMPOSER
#===================================================
/vendor
composer.phar
composer.lock
